<div class="list-group">
  {% for product in products %}
    <a
        class="list-group-item list-group-item-action"
        href="{{ path('app_product', { id: product.id }) }}"
    >

      <div class="d-flex align-items-center justify-content-between">
        <div>
          <img src="{{ asset('/uploads/products/'~product.imageFilename) }}"
               alt="{{ product.name }}"
               class="rounded"
          >
          <span class="px-1">{{ product.name }}</span>
        </div>
        <em>{{ product.priceString|format_currency('AUD') }}</em>
      </div>

    </a>
  {% else %}
    <div class="list-group-item">
      No Results Found!
    </div>

  {% endfor %}
</div>
